body {
    color: #323232;
    min-height: 100vh;
}

h1, p{
    color: #323232 !important;
}

.rounded-lg {
    border-radius: 1rem !important;
}
  
.text-small {
    font-size: 0.9rem !important;
}

.custom-separator {
    width: 5rem;
    height: 6px;
    border-radius: 1rem;
}

.text-uppercase {
    letter-spacing: 0.2em;
}

.btn-primary, .bg-primary {
    background-color: #6356e5 !important;
}