.goog-logo-link {
    display:none !important;
} 
    
.goog-te-gadget{
  color: transparent !important;
}

.goog-te-banner-frame{
  display:none !important;
}

/* .skiptranslate{
  display:none !important;
}

#goog-gt-tt{
  display:none !important;
} */

body{
  top: 0 !important;
}